body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #333;
}

form input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

div.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f2f2f2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li div.buttons{
    display: flex;
    gap: 5px;
}

li button {
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

li button:hover {
    background-color: #e0e0e0;
}

#refreshBtn {
    width: 36px;
    height: 36px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    color: #555;
}

#refreshBtn:hover {
    transform: scale(2) rotate(20deg); 
}
